@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

:root {
  --element-color: hsl(0, 0%, 100%); /*Dark Mode Text & Light Mode Elements*/
  --background-color: hsl(0, 0%, 98%); /*Light Mode Background*/
  --text-color: hsl(200, 15%, 8%); /*Light Mode Text*/
  --input-color: hsl(0, 0%, 52%); /* Light Mode Input */
  --dropshadow: rgba(0, 0, 0, 0.1); /*Color for drop shadow*/
  --fonts: "Nunito Sans", sans-serif;
}

[theme-mode-dark] {
  --element-color: hsl(209, 23%, 22%); /*Dark Mode Elements*/
  --background-color: hsl(207, 26%, 17%); /*Dark Mode Background*/
  --text-color: hsl(0, 0%, 100%); /*Dark Mode Text & Light Mode Elements*/
  --input-color: hsl(0, 0%, 98%); /* Dark Mode Input */
  --dropshadow: rgba(0, 0, 0, 0.3); /*Color for drop shadow*/
}

.App-header {
  background-color: var(--element-color);
  width: 100vw;
  min-height: 5rem;
  display: flex;
  box-shadow: 0px 0px 6px var(--dropshadow);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  padding-left: 5%;
  padding-right: 5%;
}

h1,
h2 {
  font-weight: 800;
}
strong {
  font-weight: 600;
}
p {
  font-weight: 300;
}

h1 {
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
}

button {
  font-weight: 600;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  margin: 0;
}

body {
  font-family: var(--fonts);
  width: 100vw;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  font-size: 14px;
}
.loading-placeholder {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  gap: 2rem;
}

.search-bar {
  background-color: var(--element-color);
  box-shadow: 0px 0px 8px var(--dropshadow);
  padding: 0.75rem;
  width: 100%;
  max-width: 25rem;
  border-radius: 4px;
}

.search-bar ion-icon {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
}

.search-bar label {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 1rem;
}

.search-bar input {
  width: 100%;
  border: none;
  background-color: var(--element-color);
  color: var(--input-color);
}

.search-bar input::placeholder {
  color: var(--input-color);
}

.region-dropdown .btn {
  display: flex;
  background-color: var(--element-color);
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
  border: none;
  box-shadow: 0px 0px 8px var(--dropshadow);
  padding: 1rem;
  padding-left: 1.5rem;
  gap: 4rem;
  transition: none;
}

.region-dropdown .btn:active {
  background-color: var(--element-color);
  color: var(--text-color);
}

.region-dropdown .btn.show {
  background-color: var(--element-color);
  color: var(--text-color);
}

.region-dropdown .dropdown-menu {
  color: var(--text-color);
  width: 100%;
  font-size: 14px;
  border: none;
  box-shadow: 0px 0px 8px var(--dropshadow);
  margin-top: 0.25rem;
}

.region-dropdown .dropdown-menu .dropdown-item {
  font-weight: 600;
  padding-left: 1.5rem;
}

.Country-list {
  width: 100%;
  row-gap: 2.5rem;
  column-gap: 4.5rem;
  margin-top: 1rem;
  padding-left: 5%;
  padding-right: 5%;

  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 255px);
}

.Country-card {
  background-color: var(--element-color);

  font-size: 14px;
  color: var(--text-color);
  width: 17rem;
  border-radius: 4px;
  overflow: hidden;

  display: grid;
  grid-template-rows: 0.9fr 1fr;
  box-shadow: 0px 0px 8px var(--dropshadow);
}

.Country-card .Country-brief-details {
  padding: 1.5rem;
}

.Country-card .Country-brief-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Country-card .Country-brief-container h2 {
  font-size: 16px;
}

.Country-card .Country-brief-container p {
  margin: 0;
}

img {
  width: 100%;
}

.Country-back {
  width: 100%;
}

.Country-details button {
  background-color: var(--element-color);
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
  border: none;
  box-shadow: 0px 0px 8px var(--dropshadow);
  border-radius: 4px;
  padding: 0.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.Country-details .Country-back button {
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.Country-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  font-size: 16px;
  gap: 3rem;
}

.Country-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.Country-main-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 2.5rem;
}

.Country-main-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 1rem;
}

.border-button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

@media (min-width: 850px) {
  h1 {
    font-size: 24px;
  }
  button {
    font-size: 16px;
  }
  .Country-main-content {
    flex-wrap: nowrap;
  }
  .Country-main-content img {
    max-width: 50%;
    height: 100%;
    margin: auto;
  }
  .Country-content {
    width: 50%;
  }
}
