@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

:root {
  --darkblue: hsl(209, 23%, 22%); /*Dark Mode Elements*/
  --verydarkbluebg: hsl(207, 26%, 17%); /*Dark Mode Background*/
  --verydarkbluetext: hsl(200, 15%, 8%); /*Light Mode Text*/
  --darkgray: hsl(0, 0%, 52%); /* Light Mode Input */
  --verylightgray: hsl(0, 0%, 98%); /*Light Mode Background*/
  --white: hsl(0, 0%, 100%); /*Dark Mode Text & Light Mode Elements*/
}

.App-header {
  background-color: white;
  width: 100vw;
  min-height: 5rem;
  display: flex;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 14px;
  font-weight: 800;
  margin-top: auto;
  margin-bottom: auto;
}

button {
  font-weight: 600;
  color: var(--verydarkbluetext);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  width: 100vw;
  background-color: var(--verylightgray);
  display: flex;
  font-size: 14px;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  gap: 2rem;
}

.search-bar {
  background-color: var(--white);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
  width: 100%;
  max-width: 25rem;
}

.search-bar ion-icon {
  color: var(--darkblue);
  text-align: center;
  font-size: 16px;
}

.search-bar label {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 1rem;
}

.search-bar input {
  width: 100%;
  border: none;
}

.region-dropdown .btn {
  display: flex;
  background-color: var(--white);
  color: var(--verydarkbluetext);
  font-size: 14px;
  font-weight: 600;
  border: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  padding-left: 1.5rem;
  gap: 4rem;
}

.region-dropdown .btn:active {
  background-color: var(--white);
  color: var(--verydarkbluetext);
}

.region-dropdown .btn.show {
  background-color: var(--white);
  color: var(--verydarkbluetext);
}

.region-dropdown .dropdown-menu {
  color: var(--verydarkbluetext);
  width: 100%;
  font-size: 14px;
  border: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0.25rem;
}

.region-dropdown .dropdown-menu .dropdown-item {
  font-weight: 600;
  padding-left: 1.5rem;
}

.Country-list {
  width: 100%;
  row-gap: 2.5rem;
  column-gap: 4.5rem;
  margin-top: 1rem;
  padding-left: 5%;
  padding-right: 5%;

  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 255px);
}

.Country-card {
  background-color: white;

  font-size: 14px;
  color: var(--verydarkbluetext);
  width: 17rem;
  border-radius: 4px;
  overflow: hidden;

  display: grid;
  grid-template-rows: 0.9fr 1fr;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.Country-card .Country-brief-details {
  padding: 1.5rem;
}

.Country-card .Country-brief-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Country-card .Country-brief-container h2 {
  font-size: 16px;
  font-weight: 800;
}

.Country-card .Country-brief-container p strong {
  font-weight: 600;
}

.Country-card .Country-brief-container p {
  font-weight: 300;
  margin: 0;
}

img {
  width: 100%;
}
